// Artificial brand palette
// December 2017
// This document should not be edited

$palest-pumpkin:			#FFD4BF;
$pale-pumpkin:        #FF9966;
$pumpkin:							#FF7632;
$dark-pumpkin:				#CC5215;
$darkest-pumpkin:			#A43C07;

$palest-dandelion:		#FFE5B2;
$pale-dandelion:      #FFCA6C;
$dandelion:						#FFB626;
$dark-dandelion:			#D7920A;
$darkest-dandelion:		#B17100;

$palest-lime:					#FFFFB2;
$pale-lime:					  #FFFC83;
$lime:								#F1F12F;
$dark-lime:						#D7D215;
$darkest-lime:				#AEAE0B;

$palest-grass:				#C2F1A9;
$pale-grass:          #9AE573;
$grass:								#75CB49;
$dark-grass:					#58A431;
$darkest-grass:				#3E7E18;

$palest-turquoise:		#B6E4DC;
$pale-turquoise:      #7ACEBF;
$turquoise:						#35B199;
$dark-turquoise:			#187E6D;
$darkest-turquoise:		#096555;

$palest-sapphire:			#C0C6DF;
$pale-sapphire:				#7382BF;
$sapphire:						#2A3F98;
$dark-sapphire:				#162771;
$darkest-sapphire:		#081758;

$palest-grape:			  #DCB6E4;
$pale-grape:			    #9A6BB2;
$grape:								#77278B;
$dark-grape:					#571365;
$darkest-grape:				#3E074B;

$palest-tulip:				#F1A9BC;
$pale-tulip:				  #F27990;
$tulip:								#CB2853;
$dark-tulip:					#A41037;
$darkest-tulip:				#7B0725;

$warm-grey-10:				#E4E3E2;
$warm-grey-20:				#CBCAC9;
$warm-grey-30:				#AEADA9;
$warm-grey-40:				#98958F;
$warm-grey-50:				#7E7B74;
$warm-grey-60:				#65625B;
$warm-grey-70:				#4B4741;
$warm-grey-80:				#322F29;
$warm-grey-90:				#18140C;

$cool-grey-10:				#E2E4E4;
$cool-grey-20:				#C7CBCA;
$cool-grey-30:				#AAB1B0;
$cool-grey-40:				#8F9896;
$cool-grey-50:				#747E7D;
$cool-grey-60:				#5B6563;
$cool-grey-70:				#424B4A;
$cool-grey-80:				#2A3231;
$cool-grey-90:				#101817;

$white:								#FFFFFF;

// additional color specifications

$overlay-background:  rgba(255, 255, 255, 0.9);
