// Artificial base css
// May 2015
// This document should not be edited


html {
	height: 100%;
}

body {
	height: 100%;
}

// top header
// mobile
@media only screen {
	#header {
		position: fixed;
		top: 0;
		width: 100%;
		height: 106px;
		z-index: 100;

		.topbar {
			border-top-width: 10px;
			border-top-style: solid;
		}

		.padded-lr {
			padding: 0px 8px 0 8px;
		}

		#logo {
			text-align: center;

			img {
				display: block;
				margin: 0 auto;
				width: auto;
			}
		}

		#nav-primary {
			.padded-lr {
				ul {
					text-align: center;
					margin: 0 auto;
					padding: 0;

					li {
						display: inline-block;
						margin: 0 12px 0 12px;

						a {
							text-decoration: none;
						}
					}
				}
			}
		}
	}

	.underheader {
		width: 100%;
		height: 106px;
		display: block;
	}

	#nav-secondary {
		width: 100%;
		display: block;
		border-bottom-width: 1px;
		border-bottom-style: solid;

		ul {
			text-align: center;
			margin: 0 auto;
			padding: 0;

			li {
				display: inline-block;
				margin: 0 10px 0 10px;
				padding: 8px 0 14px 0;

				a {
					text-decoration: none;
				}
			}
		}
	}
}

// tablet and desktop
@media (min-device-width: 768px) {
	#header {
		height: 70px;

		#logo {
			text-align: left;
			margin-top: -4px;

			img {
				margin-left: 0;
			}
		}

		#nav-primary {
			.padded-lr {
				ul {
					float: right;
					padding-top: 16px;

					li {
						float: left;
						margin-left: 32px;
						margin-right: 0;
					}
				}
			}
		}
	}

	.underheader {
		height: 68px;
	}

	#nav-secondary {

		ul {
			text-align: center;
			margin: 0 auto;
			padding: 0;

			li {
				float: left;
				margin: 0 20px 0 0;
			}
		}
	}
}

// side header
// mobile
@media only screen {
	#header-side {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 100;

		.topbar {
			border-top-width: 8px;
			border-top-style: solid;
		}

		.flex.container {
	    display: none;
		}
	}
}

// tablet and desktop
@media (min-device-width: 768px) {
	#header-side {
		.flex.container {
			display: block;
	    -webkit-justify-content: flex-start;
	    justify-content: flex-start;
			height: 0;

			.iconlist {
				ul {
					padding-left: 0;
				}
			}
		}
	}
}

// footer
// mobile
@media only screen {

	#footer {
		width: 100%;
		display: block;

		#artificial {
			text-align: center;
			a {
				svg#Layer_1 {
					width: 100%;
				}
			}
		}

		#about, #promo {
			border-top-width: 1px;
			border-top-style: solid;
		}
	}
}

// tablet and desktop
@media (min-device-width: 768px) {

	#footer {
		height: 320px;

		#artificial {
			#artlogo {
				img {
					width: 100%;
				}
			}

			p {
				display: block;
			}
		}

		#about, #promo {
			padding-top: 60px;
			border: none;
		}
	}
}

// eversearch
#oncall {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	z-index: 200;

	.search {
		margin: 0 auto;
		margin-top: 25%;
	}
}

// forms and fields
.search {
	outline: none;
	width: 100%;

	input {
		padding: 0;
		background-color: inherit;
		border: none;
		margin: 15px;
		outline: none;
		height: 30px;
		width: calc(100% - 96px);
	}

	.button {
		height: 60px;
		width: 60px;
		padding: 0;
		float: right;
		margin: 0;

		input {
			display: none;
		}

	}
}

.field {
	outline: none;
	width: 100%;

	input, textarea {
		background-color: inherit;
		border: none;
		margin: 15px;
		outline: none;
		width: calc(100% - 36px);
	}

	input {
		height: 30px;
	}

	textarea {
		height: 90px;
		resize: none;
	}

}

.check, .radio {
	width: 100%;

	input {
		margin-right: 15px;
		margin-bottom: 10px;
	}
}

.button {
	height: 60px;
	width: 100%;
	padding: 0;
}

// dropdown select

.selection {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
	 width: 100%;
	 padding: 20px;
	 outline: none;
}


.dropdown-menu {
	ul {
		background-color: inherit;
		border: none;
		height: 30px;
		margin: 0;
		padding: 0;

		li {
			width: 100%;
			position:relative;
			float:left;
			margin:0;
			padding:0;

			a {
				margin: 15px;
				height: 30px;
				line-height: 30px;
				display: block;
			}

			ul {
				width: 100%;
				z-index: 50;
				display:none;
				position:absolute;
				height: inherit;
				overflow: hidden;

				li {
					width: 100%;

					a {
						margin: 0px;
						padding: 5px 15px 5px 15px;
					}
				}
			}
		}

		li:hover
		{
			ul {
				display:block
			}
		}
	}
}
