// basic typography
// this document should not be edited
// ever

p, ul, li, h1, h2, h3, h4, h5 { margin: 0; }

#logo, .title, .small-title, .letters { font-family: "Noto Serif", Georgia, Times, serif; }
#logo, .title, .small-title, .subtitle, .small-subtitle, .letters, .label, .metadata { font-weight: 700; }
.description, .statement, .small-statement { font-weight: 300; }
#logo, .title, .small-title { font-style: italic; }

.small-statement p { padding-bottom: 24px; }
.small-body { font-weight: 500; }

ul { list-style-type: none; }
a { text-decoration: none; }

.center { text-align: center; }

// for mobile
@media only screen and (min-device-width: 320px) {

	p, ul, li {
		font-size: 14px;
		line-height: 22px;
	}

	p, h2 {
		padding-bottom: 8px;
	}

	#logo {
		font-size: 28px;
	}

	#nav-primary {
		li {
			font-size: 14px;
		}
	}

	.title {
		font-size: 36px;
		line-height: 42px;
		padding-bottom: 20px;
	}

	.small-title {
		font-size: 24px;
		line-height: 30px;
		padding-bottom: 16px;
	}

	.subtitle {
		font-size: 20px;
		line-height: 26px;
		padding-bottom: 24px;
	}

	.small-subtitle {
		font-size: 16px;
		line-height: 22px;
		padding-bottom: 16px;
	}

	.description {
		font-size: 20px;
		line-height: 28px;
	}

	.letters {
		font-size: 120px;
		line-height: 200px;
	}

	.statement {
		font-size: 24px;
		line-height: 32px;
		padding-bottom: 20px;
	}

	.small-statement, .small-statement * {
		font-size: 24px;
		line-height: 32px;
	}

	.label {
		font-size: 14px;
		line-height: 14px;
		padding-bottom: 20px;
	}

	// .metadata is like .label but without the padding baggage
	.metadata {
		font-size: 14px;
		line-height: 14px;

		padding-left: 0; // in case this is a ul or ol

		li {
			display: inline-block;
			margin: 0;
		}
		li + li::before {
			content: " | ";
			font-size: 150%;
			font-weight: 100;
			margin: 0 0 0 .33em;
		}
	}

	.snippit {
		font-size: 16px;
		line-height: 22px;
	}

	.large-body {
		font-size: 16px;
		line-height: 24px;
	}

	.small-body {
		font-size: 14px;
		line-height: 18px;
	}
}

// for tablet
@media only screen and (min-device-width: 768px) {

	p, ul, li {
		font-size: 12px;
		line-height: 18px;
	}

	.title {
		font-size: 42px;
		line-height: 48px;
	}

	.small-title {
		font-size: 20px;
		line-height: 26px;
	}

	.subtitle {
		font-size: 20px;
		line-height: 26px;
	}

	.small-subtitle {
		font-size: 16px;
		line-height: 22px;
		padding-bottom: 12px;
	}

	.description {
		font-size: 20px;
		line-height: 28px;
	}

	.letters {
		font-size: 80px;
		line-height: 140px;
	}

	.statement {
		font-size: 32px;
		line-height: 40px;
		padding-bottom: 20px;
	}

	.small-statement, .small-statement * {
		font-size: 28px;
		line-height: 36px;
	}

	.label {
		font-size: 12px;
		line-height: 14px;
	}

	.snippit {
		font-size: 14px;
		line-height: 20px;
	}

	.large-body {
		font-size: 14px;
		line-height: 22px;
	}

	.small-body {
		font-size: 12px;
		line-height: 16px;
	}
}

// for desktop
@media only screen and (min-width: 960px) {

	p, li, ul {
		font-size: 14px;
		line-height: 22px;
	}

	.title {
		font-size: 54px;
		line-height: 60px;
	}

	.small-title {
		font-size: 24px;
		line-height: 30px;
		padding-bottom: 16px;
	}

	.subtitle {
		font-size: 24px;
		line-height: 32px;
	}

	.small-subtitle {
		font-size: 20px;
		line-height: 26px;
	}

	.description {
		font-size: 24px;
		line-height: 32px;
	}

	.letters {
		font-size: 120px;
		line-height: 200px;
	}

	.statement {
		font-size: 40px;
		line-height: 48px;
		padding-bottom: 20px;
	}

	.small-statement, .small-statement * {
		font-size: 32px;
		line-height: 40px;
	}

	.label {
		font-size: 14px;
		line-height: 14px;
	}

	.snippit {
		font-size: 16px;
		line-height: 22px;
	}

	.large-body {
		font-size: 16px;
		line-height: 24px;
	}

	.small-body {
		font-size: 14px;
		line-height: 18px;
	}
}
