@import "_artificial-base.scss";
@import "_artificial-grid.scss";
@import "_artificial-colors.scss";
@import "_site-base.scss";
@import "_site-typography.scss";

figure {
	margin: 0;
}

.pokemon-icons-content {

	.poke-title {
		font-size: 54px;
		padding-bottom: 16px;
	}

	.poke-description {
		padding-bottom: 16px;
	}

	.introduction, .conclusion {
		padding: 80px 0 30px 0;

		p {
			a {
				color: $pale-turquoise;
			}
			a:hover {
				color: $white;
			}
		}
	}

	.number {
		font-size: 12px;
		font-weight: 600;
		color: $cool-grey-30;
		margin: 0 0 5px 0;
	}

	.name {
		font-size: 14px;
	}

	svg {
		width:60%;
		margin-top: 50px;
	}

	#alltheicons {
		padding-top: 100px;
	}

	.poke-background {
    background: linear-gradient(90deg, #135E66 50%, #104452 50%);
		color: $white;
	}

	.top {
		margin-top: 150px;
	}

	.pokeball {
		background-image: url("../assets/pokeball.svg");
		background-position: bottom center;
		background-size: cover;
	}

  .button{
  	margin-bottom: 120px;
  }

	.download {
		padding: 15px 100px 15px 100px;
		color: $cool-grey-90;
		border: none;
		font-weight: 700;
		background-color: $white;
		border-radius: 45px;
	}

	.download:hover {
		padding: 15px 120px 15px 120px;
		color: $turquoise;
	}

	.transition, .transition::before, .transition::after {
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}

}
